.herro{
    font-size: 50px;
    text-align: center;
}

.box{
    text-align: center;
}

.input{
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
}

.list{
    
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0 150px;
    margin-top: 50px;
}
.item{
    width: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;


   
}



.item__image{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.item__poragraf{
    text-align: center;
}

.button{
    margin-left: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #000;
}

/* 
.span__pilot{
    opacity: 0.5;
}

.span__man{
    opacity: 0.5;
}

.span__car{
    opacity: 0.5;
}

.span__velosiped{
    opacity: 0.5;
} */

.error{
    height: 50px;
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    color: red;
    /* border-bottom: 1px solid red; */
}